<!DOCTYPE html>
<html>
  <head>
  	<meta charset="utf-8" name="view-port" content="width=device-width initial-scale=1">
  	<meta http-equiv="author" content="F.R" >
  	<title>Fluid width layout</title>
  	<link href="../../layout_css/fluid_layout.css" type="text/css" rel="stylesheet">
  </head>
  <body>
  	<div class="header">
  	  <h1>Logo</h1>
  	  <div class="nav">
  	  	<ul>
  	  	  <li>Home</li>
  	  	  <li>Products</li>
  	  	  <li>Services</li>
  	  	  <li>About</li>
  	  	  <li>Contact</li>
  	  	</ul>
  	  </div>
  	</div>
  	<div class="content">
  	  <div class=feature>
  	  	<p>Feature</p>
  	  </div>
  	  <div class="article column1">
  	  	<p>Column1</p>
  	  </div>
  	  <div class="article column2">
  	  	<p>Column2</p>
  	  </div>
  	  <div class="article column3">
  	  	<p>column3</p>
  	  </div>
  	</div>
  	<div class="footer">
  	  <p>&amp;copyright 2023</p>
  	</div>
  </body>
</html>