<!DOCTYPE html>
<html>
  <head>
  	<meta charset="utf-8" name="view-port" content="width=device-width initial-scale=1">
  	<meta http-equiv="author" content="F.R" />
  	<title>Layout using 960.gs framework</title>
  	<link href="css/960_12_col.css" type="text/css" rel="stylesheet">
  	<link rel="stylesheet" type="text/css" href="../../layout_css/grid_layout.css">  	
  </head>
  <body>
  	<div class="container_12 clearfix">
	  	<div class="header grid_12">
	  	  <h1>Logo</h1>
	  	  <div class="nav">
	  	  	<ul>
	  	  	  <li><a href="">Home</a></li>
	  	  	  <li><a href="">Products</a></li>
	  	  	  <li><a href="">Services</a></li>
	  	  	  <li><a href="">About</a></li>
	  	  	  <li><a href="">Contact</a></li>
	  	  	</ul>
	  	  </div>
	  	</div>
	  	<div class="content">
	  	  <div class="feature grid_12">
	  	  	<p>Feature</p>
	  	  </div>
	  	  <div class="article column1 grid_4">
	  	  	<p>Article1</p>
	  	  </div>
	  	  <div class="article column2 grid_4">
	  	  	<p>Article2</p>
	  	  </div>
	  	  <div class="article column3 grid_4">
	  	  	<p>Article3</p>
	  	  </div>
	  	</div>
	  	<div class="footer grid_12">
	  	  <p>&amp;Copyright 2023</p>
	  	</div>
	</div><!--.container_12-->
  </body>
</html>